body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
   background: url(footer.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1{
	color: white;
	text-align: center;
	font-size: 3rem;
}

.btn.xl{
	padding: 0.5rem 0.5rem;
}
.btn{
	font-weight: 600px;
	
	border border-radius: 100px;
	text-transform: uppercase;
}
.btn-primary{
		background-color: orange;
		border-color: #F05F44;
}
.btn-primary:hover{
background-color: red;
}
.buffer{
	height: 20rem;
	}




